'.source.js, .source.jsx, .source.ts, .source.js-semantic':

  'expect(value)':
    prefix: 'exp'
    body: 'expect($1)$2'

  '.toBe(value)':
    prefix: 'ebe'
    body: 'expect($1).toBe($2);'

  '.toHaveBeenCalled(value)':
    prefix: 'ecall'
    body: 'expect($1).toHaveBeenCalled($2);'

  '.toHaveBeenCalledTimes(value)':
    prefix: 'ecallt'
    body: 'expect($1).toHaveBeenCalledTimes($2);'

  '.toHaveBeenCalledWith(value)':
    prefix: 'ecallw'
    body: 'expect($1).toHaveBeenCalledWith($2);'

  '.toBeCloseTo(value)':
    prefix: 'ecloseto'
    body: 'expect($1).toBeCloseTo($2);'

  '.toBeDefined(value)':
    prefix: 'edef'
    body: 'expect($1).toBeDefined($2);'

  '.toBeFalsy(value)':
    prefix: 'efalsy'
    body: 'expect($1).toBeFalsy($2);'

  '.toBeGreaterThan(value)':
    prefix: 'egreater'
    body: 'expect($1).toBeGreaterThan($2);'

  '.toBeGreaterThanOrEqual(value)':
    prefix: 'egreateror'
    body: 'expect($1).toBeGreaterThanOrEqual($2);'

  '.toBeLessThan(value)':
    prefix: 'eless'
    body: 'expect($1).toBeLessThan($2);'

  '.toBeLessThanOrEqual(value)':
    prefix: 'elessor'
    body: 'expect($1).toBeLessThanOrEqual($2);'

  '.toBeInstanceOf(value)':
    prefix: 'einst'
    body: 'expect($1).toBeInstanceOf($2);'

  '.toBeNull(value)':
    prefix: 'enull'
    body: 'expect($1).toBeNull($2);'

  '.toBeTruthy(value)':
    prefix: 'etruthy'
    body: 'expect($1).toBeTruthy($2);'

  '.toBeUndefined(value)':
    prefix: 'eundef'
    body: 'expect($1).toBeUndefined($2);'

  '.toContain(value)':
    prefix: 'econ'
    body: 'expect($1).toContain($2);'

  '.toContainEqual(value)':
    prefix: 'econeq'
    body: 'expect($1).toContainEqual($2);'

  '.toEqual(value)':
    prefix: 'eeq'
    body: 'expect($1).toEqual($2);'

  '.toHaveLength(value)':
    prefix: 'eleng'
    body: 'expect($1).toHaveLength($2);'

  '.toMatch(value)':
    prefix: 'emat'
    body: 'expect($1).toMatch($2);'

  '.toMatchObject(value)':
    prefix: 'ematob'
    body: 'expect($1).toMatchObject($2);'

  '.toMatchSnapshot(value)':
    prefix: 'ematsnap'
    body: 'expect($1).toMatchSnapshot($2);'

  '.toThrow(value)':
    prefix: 'ethrow'
    body: 'expect($1).toThrow($2);'