'.source.js, .source.jsx, .source.ts, .source.js-semantic':

  '.mockClear()':
    prefix: 'mclear'
    body: '.mockClear();'

  '.mockReset()':
    prefix: 'mreset'
    body: '.mockReset();'

  '.mockImplementation(fn)':
    prefix: 'mimpl'
    body: '.mockImplementation($1);'

  '.mockImplementationOnce(fn)':
    prefix: 'mimplonce'
    body: '.mockImplementationOnce($1);'

  '.mockReturnThis()':
    prefix: 'mrett'
    body: '.mockReturnThis();'

  '.mockReturnValue(value)':
    prefix: 'mretval'
    body: '.mockReturnValue($1);'

  '.mockReturnValueOnce(value)':
    prefix: 'mretvalo'
    body: '.mockReturnValueOnce($1);'