'.source.js, .source.jsx, .source.ts, .source.js-semantic':
  'jsetup':
    description: 'Sets up jest test file'
    prefix: 'jsetup'
    body: """
      import $1 from './$1'{{expressionTerminator}}

      describe('$1', () => {
        test('$2', () => {
            $3
        }){{expressionTerminator}}
      }){{expressionTerminator}}

    """

  'describe(name, fn)':
    description: 'describe(name, fn)'
    descriptionMoreURL: 'https://facebook.github.io/jest/docs/api.html#describename-fn'
    prefix: 'desc'
    body: """
      describe('$1', () => {
        $2
      }){{expressionTerminator}}
    """

  'test(name, fn)':
    description: 'test(name, fn)'
    descriptionMoreURL: 'https://facebook.github.io/jest/docs/api.html#testname-fn'
    prefix: 'test'
    body: """
      test('$1', () => {
        $2
      }){{expressionTerminator}}
    """

  'it(name, fn)':
    description: 'alias for test()'
    descriptionMoreURL: 'https://facebook.github.io/jest/docs/api.html#testname-fn'
    prefix: 'it'
    body: """
      it('$1', () => {
        $2
      }){{expressionTerminator}}
    """

  'afterAll(fn)':
    description: 'afterAll(fn)'
    descriptionMoreURL: 'https://facebook.github.io/jest/docs/api.html#afterallfn'
    prefix: 'aftera'
    body: """
      afterAll(() => {
        $1
      }){{expressionTerminator}}
    """

  'afterEach(fn)':
    description: 'afterEach(fn)'
    descriptionMoreURL: 'https://facebook.github.io/jest/docs/api.html#aftereachfn'
    prefix: 'aftere'
    body: """
      afterEach(() => {
        $1
      }){{expressionTerminator}}
    """

  'beforeAll(fn)':
    description: 'beforeAll(fn)'
    descriptionMoreURL: 'https://facebook.github.io/jest/docs/api.html#beforeallfn'
    prefix: 'beforea'
    body: """
      beforeAll(() => {
        $1
      }){{expressionTerminator}}
    """

  'beforeEach(fn)':
    description: 'beforeEach(fn)'
    descriptionMoreURL: 'https://facebook.github.io/jest/docs/api.html#beforeeachfn'
    prefix: 'beforee'
    body: """
      beforeEach(() => {
        $1
      }){{expressionTerminator}}
    """